USE [master]
GO
/****** Object:  Database [control_gastos]    Script Date: 27/11/2025 07:38:52 p. m. ******/
CREATE DATABASE [control_gastos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'control_gastos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\control_gastos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'control_gastos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\control_gastos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [control_gastos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [control_gastos]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 27/11/2025 07:38:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[tipo] [nvarchar](10) NOT NULL,
	[descripcion] [nvarchar](150) NULL,
	[imagen_url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 27/11/2025 07:38:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[id_cuenta] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[nombre_cuenta] [nvarchar](100) NOT NULL,
	[tipo_cuenta] [nvarchar](50) NULL,
	[saldo_inicial] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gastos]    Script Date: 27/11/2025 07:38:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gastos](
	[id_gasto] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_categoria] [int] NULL,
	[id_tipoMovimiento] [int] NULL,
	[descripcion] [nvarchar](200) NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[fechaGasto] [date] NULL,
	[metodoPago] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_gasto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingreso]    Script Date: 27/11/2025 07:38:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingreso](
	[id_ingreso] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_categoria] [int] NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[descripcion] [nvarchar](150) NULL,
	[fechaIngreso] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ingreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Presupuesto]    Script Date: 27/11/2025 07:38:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presupuesto](
	[id_presupuesto] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_categoria] [int] NULL,
	[montoLimite] [decimal](10, 2) NOT NULL,
	[mes] [nvarchar](20) NOT NULL,
	[anio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_presupuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoMovimiento]    Script Date: 27/11/2025 07:38:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoMovimiento](
	[id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[tipo_nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/11/2025 07:38:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[correo] [nvarchar](100) NOT NULL,
	[fecha_registro] [datetime] NULL,
	[contrasena] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cuenta] ADD  DEFAULT ((0)) FOR [saldo_inicial]
GO
ALTER TABLE [dbo].[Gastos] ADD  DEFAULT (getdate()) FOR [fechaGasto]
GO
ALTER TABLE [dbo].[Ingreso] ADD  DEFAULT (getdate()) FOR [fechaIngreso]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria] ([id_categoria])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD FOREIGN KEY([id_tipoMovimiento])
REFERENCES [dbo].[tipoMovimiento] ([id_tipo])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ingreso]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria] ([id_categoria])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Ingreso]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Presupuesto]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria] ([id_categoria])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Presupuesto]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Categoria]  WITH CHECK ADD CHECK  (([tipo]='Ingreso' OR [tipo]='Gasto'))
GO
/****** Object:  StoredProcedure [dbo].[CalcularSaldoActual]    Script Date: 27/11/2025 07:38:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CalcularSaldoActual]
    @id_usuario INT
AS
BEGIN
    DECLARE @saldoInicial DECIMAL(10, 2);
    DECLARE @totalIngresos DECIMAL(10, 2);
    DECLARE @totalGastos DECIMAL(10, 2);
    DECLARE @saldoActual DECIMAL(10, 2);

    SELECT @saldoInicial = COALESCE(C.saldo_inicial, 0.00)
    FROM Cuenta C
    WHERE C.id_usuario = @id_usuario;

    SELECT @totalIngresos = COALESCE(SUM(I.monto), 0.00)
    FROM Ingreso I
    WHERE I.id_usuario = @id_usuario;

    SELECT @totalGastos = COALESCE(SUM(G.monto), 0.00)
    FROM Gastos G
    WHERE G.id_usuario = @id_usuario;

    SET @saldoActual = @saldoInicial + @totalIngresos - @totalGastos;

    SELECT
        U.nombre AS Usuario,
        @saldoInicial AS SaldoInicial,
        @totalIngresos AS TotalIngresos,
        @totalGastos AS TotalGastos,
        @saldoActual AS SaldoActual
    FROM Usuarios U
    WHERE U.id_usuario = @id_usuario;

END
GO
/****** Object:  StoredProcedure [dbo].[GenerarReporteMensual]    Script Date: 27/11/2025 07:38:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GenerarReporteMensual]
    @id_usuario INT,
    @mes INT,
    @anio INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Crear tabla temporal
    CREATE TABLE #ReporteTemporal (
        id_categoria INT PRIMARY KEY,
        CategoriaNombre VARCHAR(100),
        MontoPresupuestado DECIMAL(10, 2) DEFAULT 0.00,
        MontoGastado DECIMAL(10, 2) DEFAULT 0.00
    );

    -- 2. Insertar TODAS las categorías relevantes (de gastos Y presupuestos) de tipo 'Gasto'
    INSERT INTO #ReporteTemporal (id_categoria, CategoriaNombre)
    SELECT 
        C.id_categoria,
        C.nombre
    FROM Categoria C
    WHERE C.tipo = 'Gasto' AND C.id_categoria IN (
        -- Categorías con presupuesto este mes
        SELECT P.id_categoria 
        FROM Presupuesto P
        WHERE P.id_usuario = @id_usuario AND P.mes = @mes AND P.anio = @anio
        UNION
        -- Categorías con gastos este mes
        SELECT G.id_categoria
        FROM Gastos G
        WHERE G.id_usuario = @id_usuario 
          AND MONTH(G.fechaGasto) = @mes 
          AND YEAR(G.fechaGasto) = @anio
    );

    -- 3. Actualizar los montos PRESUPUESTADOS
    UPDATE RT
    SET RT.MontoPresupuestado = P.montoLimite
    FROM #ReporteTemporal RT
    JOIN Presupuesto P ON RT.id_categoria = P.id_categoria
    WHERE P.id_usuario = @id_usuario
      AND P.mes = @mes
      AND P.anio = @anio;

    -- 4. Actualizar los montos GASTADOS
    UPDATE RT
    SET RT.MontoGastado = ISNULL(G.TotalGastado, 0.00)
    FROM #ReporteTemporal RT
    LEFT JOIN (
        -- Subconsulta para sumar gastos por categoría
        SELECT 
            G.id_categoria, 
            SUM(G.monto) AS TotalGastado
        FROM Gastos G
        WHERE G.id_usuario = @id_usuario
          AND MONTH(G.fechaGasto) = @mes
          AND YEAR(G.fechaGasto) = @anio
        GROUP BY G.id_categoria
    ) G ON RT.id_categoria = G.id_categoria;

    -- 5. Seleccionar los resultados CON ALIAS
    -- ¡ESTA ES LA CORRECCIÓN PRINCIPAL!
    SELECT
        CategoriaNombre AS Categoria, -- Alias para C#
        MontoPresupuestado AS Presupuesto, -- Alias para C#
        MontoGastado AS Gasto, -- Alias para C#
        (MontoPresupuestado - MontoGastado) AS Diferencia
    FROM #ReporteTemporal
    WHERE MontoPresupuestado > 0 OR MontoGastado > 0; -- No mostrar filas que están en cero

    -- 6. Limpiar
    DROP TABLE #ReporteTemporal;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarGasto]    Script Date: 27/11/2025 07:38:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegistrarGasto]
    @id_usuario INT,
    @id_categoria INT,
    @id_tipoMovimiento INT,
    @descripcion NVARCHAR(200),
    @monto DECIMAL(10,2),
    @fechaGasto DATE = NULL,
    @metodoPago NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @v_fecha DATE;
    DECLARE @nuevo_id INT;
    
    IF @fechaGasto IS NULL
        SET @v_fecha = CAST(GETDATE() AS DATE);
    ELSE
        SET @v_fecha = @fechaGasto;
    
    BEGIN TRY
        -- Validar que existan los IDs
        IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE id_usuario = @id_usuario)
        BEGIN
            SELECT 'Error: El usuario no existe' AS mensaje;
            RETURN;
        END
        
        IF NOT EXISTS (SELECT 1 FROM Categoria WHERE id_categoria = @id_categoria)
        BEGIN
            SELECT 'Error: La categoría no existe' AS mensaje;
            RETURN;
        END
        
        IF NOT EXISTS (SELECT 1 FROM tipoMovimiento WHERE id_tipo = @id_tipoMovimiento)
        BEGIN
            SELECT 'Error: El tipo de movimiento no existe' AS mensaje;
            RETURN;
        END
        
        -- Insertar el gasto
        INSERT INTO Gastos (id_usuario, id_categoria, id_tipoMovimiento, descripcion, monto, fechaGasto, metodoPago)
        VALUES (@id_usuario, @id_categoria, @id_tipoMovimiento, @descripcion, @monto, @v_fecha, @metodoPago);
        
        SET @nuevo_id = SCOPE_IDENTITY();
        
        SELECT 
            @nuevo_id AS id_gasto,
            'Gasto registrado exitosamente' AS mensaje,
            @monto AS monto,
            @descripcion AS descripcion,
            @v_fecha AS fecha;
    END TRY
    BEGIN CATCH
        SELECT 
            'Error al registrar el gasto' AS mensaje,
            ERROR_MESSAGE() AS error;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[VerificarPresupuestoCategoria]    Script Date: 27/11/2025 07:38:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[VerificarPresupuestoCategoria]
    @id_usuario INT,
    @mes INT,
    @anio INT,
    @id_categoria INT
AS
BEGIN
    DECLARE @limitePresupuesto DECIMAL(10, 2);
    DECLARE @gastosReales DECIMAL(10, 2);
    DECLARE @porcentajeGasto DECIMAL(5, 2);

    SELECT @limitePresupuesto = montoLimite
    FROM Presupuesto
    WHERE id_usuario = @id_usuario
      AND id_categoria = @id_categoria
      AND mes = @mes
      AND anio = @anio;

    IF @limitePresupuesto IS NULL SET @limitePresupuesto = 0.00;

    SELECT @gastosReales = COALESCE(SUM(monto), 0.00)
    FROM Gastos
    WHERE id_usuario = @id_usuario
      AND id_categoria = @id_categoria
      AND MONTH(fechaGasto) = @mes
      AND YEAR(fechaGasto) = @anio;

    IF @limitePresupuesto > 0
        SET @porcentajeGasto = (@gastosReales / @limitePresupuesto) * 100;
    ELSE
        SET @porcentajeGasto = NULL;
    SELECT
        C.nombre AS Categoria,
        @limitePresupuesto AS LimitePresupuesto,
        @gastosReales AS Gastado,
        CASE
            WHEN @porcentajeGasto IS NULL AND @limitePresupuesto = 0 THEN 'Sin Presupuesto Definido'
            WHEN @porcentajeGasto > 100 THEN 'Excedido 🚨'
            ELSE FORMAT(@porcentajeGasto, 'N2') + '%'
        END AS PorcentajeConsumido,
        @limitePresupuesto - @gastosReales AS Diferencia

    FROM Categoria C
    WHERE C.id_categoria = @id_categoria;

END
GO
USE [master]
GO
